.img-avatar{
    width: 90px; 
    height: 90px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10%;
}

.img-avatar img{
    width: 90px; 
    height: 90px; 
}

.btn-style{
    width: 100%;
}